@use "./colors" as *;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	scroll-padding-top: 200px;
}

body {
	font-family: "Montserrat", sans-serif;
	background-color: $bg-color;
	height: 100%;
}
.shadow-bg {
	background-color: rgba(0, 0, 0, 0.8);
}

nav {
	z-index: 5;
	transition: background-color 0.5s;
	.navbar-toggler {
		padding: 15px 15px;
		border: none;
	}
	.navbar-brand img {
		width: 100px;
		height: 98px;
	}
	.nav-link,
	.navbar-nav .show > .nav-link,
	.navbar-brand,
	.fa-bars {
		text-transform: uppercase;
		font-size: 20px;
		color: $main-color;
		transition: color 0.5s;
	}

	.nav-link:focus,
	.nav-link:hover,
	.navbar-nav .nav-link.active,
	.navbar-nav .show > .nav-link {
		color: $secondary-color;
	}
}

header.hero-img {
	position: relative;
	height: 100vh;
	background-image: url("../img/header.jpg");
	background-size: cover;
	background-position: center;
	z-index: 0;

	.hero-shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(31, 31, 31, 0.78);
		z-index: -5;
	}
	.hero-logo {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;

		img {
			height: 98px;
		}

		h1 {
			margin-top: 20px;
			font-size: 27px;
			text-transform: uppercase;
			color: $main-color;
		}
	}
}
.music {
	.section-title {
		font-size: 60px;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		color: $main-color;
	}
	.covers {
		display: flex;
		align-items: center;
		justify-content: space-between;
		img {
			height: 300px;
			cursor: pointer;
			transition: scale 0.3s;
		}
		img:hover {
			scale: 1.1;
		}
	}
}
.contact {
	position: relative;
	height: 330px;
	background-image: url("../img/contact.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	text-align: center;
	z-index: 0;
	.contact-shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(31, 31, 31, 0.78);
		z-index: -5;
	}
	.section-title {
		font-size: 60px;
		text-transform: uppercase;
		font-weight: bold;
		color: $main-color;
	}
	.booking {
		font-size: 40px;
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		color: $main-color;
	}
	.contact-info {
		font-size: 30px;
		text-transform: uppercase;
		text-align: center;
		color: $main-color;
	}
	.social-media {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		a {
			color: $main-color;
			font-size: 36px;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: bold;
			transition: color 0.5s;
		}
		a:hover {
			color: $secondary-color;
		}
	}
}

footer {
	background-color: $bg-color;
}

@media (max-width: 1200px) {
	nav {
		.navbar-brand img {
			width: 70px;
			height: 68px;
		}
	}
	header.hero-img {
		.hero-logo {
			img {
				height: 98px;
			}

			h1 {
				font-size: 20px;
			}
		}
	}

	.music {
		.section-title {
			font-size: 60px;
		}
		.covers {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			justify-content: space-around;
			img {
				padding: 10px;
				height: 400px;
			}
		}
	}
	.contact {
		height: 310px;

		.section-title {
			font-size: 60px;
		}
		.booking {
			font-size: 40px;
		}
		.contact-info {
			font-size: 20px;
		}
		.social-media {
			display: flex;
			flex-direction: row;
			justify-content: space-around;

			a {
				font-size: 30px;
			}
		}
	}
}

@media (max-width: 768px) {
	nav {
		.navbar-brand img {
			width: 50px;
			height: 48px;
		}
	}

	header.hero-img {
		.hero-logo {
			img {
				height: 60px;
			}

			h1 {
				font-size: 20px;
			}
		}
	}
	.music {
		.section-title {
			font-size: 60px;
		}
		.covers {
			img {
				padding: 10px;
				height: 300px;
			}
		}
	}
	.contact {
		height: 290px;

		.section-title {
			font-size: 60px;
		}
		.booking {
			font-size: 30px;
		}
		.contact-info {
			font-size: 15px;
		}
		.social-media {
			display: flex;
			flex-direction: row;
			justify-content: space-around;

			a {
				font-size: 20px;
			}
		}
	}
}

@media (max-width: 576px) {
	nav {
		.navbar-brand img {
			width: 50px;
			height: 48px;
		}
	}

	header.hero-img {
		.hero-logo {
			img {
				height: 40px;
			}

			h1 {
				font-size: 10px;
			}
		}
	}
	.music {
		.section-title {
			font-size: 40px;
		}
		.covers {
			img {
				padding: 10px;
				height: 175px;
			}
		}
	}
	.contact {
		height: 290px;

		.section-title {
			font-size: 40px;
		}
		.booking {
			font-size: 20px;
		}
		.contact-info {
			font-size: 15px;
		}
		.social-media {
			display: flex;
			flex-direction: column;

			a {
				font-size: 14px;
			}
		}
	}
}
